.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-position: center;
  background-size: cover;
  background-color: darkslateblue;
  border-bottom: 5px solid rgb(230, 226, 226);
}

.logo-container {
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: x-large;
  font-style: italic;
  color: white;
}

.nav-container {
  display: flex;
  gap: 50px;
}

.nav-container li {
  margin: 0 10px;
  list-style: none;
}

.nav-container li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
